body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
    font-family: 'Source Sans Pro', 'Lucida Grande',sans-serif ;
    font-weight: 400;
    color:#000;
    font-size: 16px;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    text-decoration: none;
    color:#ccc;
}
/* bar */
.bar{
    width: 100%;
    border-width: 3px 0 0;
    border-top-style: solid;
    -o-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    
}
/* nav */
.nav{
   height: 53px;
   line-height: 53px;
   text-align: center;
   overflow: hidden;
   padding-left:12px;
}

.nav li{
    float: left;
    margin: 0 12px;
}
/* search */
.search{
    width: 100%;
    /* height: 60px; */
    padding: 9px 0;
    display:flex;
    border:1px solid #ccc;
}
.search_in{
    height: 40px;
}
.font_sear{
    position: absolute;
    top:7px;
    left:15px;
    font-size: 20px!important;
    line-height: 30px;
    z-index: 2;
}
.search_img{
    width:120px ;
    height: 40px;
    padding:0 30px;
}
.ser-img{
    width: 100%;
    height: 90%;
}
.search_pre{
    height: 40px;
    flex:1;
    position: relative;
    text-align: center; 
    display: flex;
}
.input_in{
    border:none;
    background:#f2f2f2 ;
    flex:1;
    text-indent: 30px;
    outline: none;
    margin-left: 10px;
}
.input_sear{
    border:none;
    background: #fb3e44;
    color: #fff;
    outline: none;
    width: 83px;
}
.reg_login{
    padding-left: 40px;
    width: 190px;
    height: 40px;
    float: right;
}
.join{
    line-height: 40px;
    border:1px solid #9a9a9a;
    padding:0 10px;
    margin:0 10px;
    text-align: center;
}
.login{
    text-align: center;
    padding:0px;
}