@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1554084513885'); /* IE9 */
  src: url('../font/iconfont.eot?t=1554084513885#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABnAAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRYBNgIkAwgLBgAEIAWEbQcwG7wFyK6wKWO+WMXUHYTTCLJet83O+GAORBC/X5t9/905okk1kvEsmsgkmoZM0lAp3UsgJM9UbuhcFzwaDnTNsxSssLQKmuieX/Cpgv7BCmxXaxoEGbs2gBK5Kqhv7vcJNsRC/1TVifaPkCSzEghNBIvYP+6n/jz/N5B8QHOJCIpKjgQc2HRAUU0j20hGvmHsApdwnEDdEBrcGP+sPRGZNS4QJ4rEPJGcW5ZZrCqUa5ZmcaOkmq7SgOvw+/FLjAhJqWAVbB+PBE/3g7IT8KfVOvIRHgJaXUKBBUAm9mvDm/yC0bB6OGAM2Fdu8EGtq28Se9UL9tdZ2U0wAAX3JHRFt5qdQI7bxwBLo24i9Tev4v9z/PHY3m7r+30zP5e93/nva5ao53M39XZrmAmi4yibpPD966vrSQvKg4W9vrncF5713S4z/+BSoM2DD0pLLLtT7fIQcyEX/45nhQett+KxAETQ+79rpKU/jQzed+7Q2XrL+lmB6u4twW8S9qzLutgypqwKa63J2KixCXV1tGB7t/dYTd89xUNV351ZKwZTKFRNoJlcgJKGRU9Z1bmyqZunw9UNPVJ+kWuYMwEInbaQtHuEQqc9mskXlPT7QFln+KHuMMgtG6ZCicmE7IAC2FeIuGWKjvkQi3KXKB11RllxSN8i7RUfCCxfjE3QRJpjRnaSavlBBJ8sAzRwGuq6BTFZKvJDKTwc7DrH+XVvKjmW4YlZRxBzgATAdgUinMUk+q0PYqXPLyHJkY6hlqIa5xYie0rnQMDie6AThdmr6F5eyZxIanIHIuAjFgPQwCCk01lAXD9IhbiDknBE0FbH2c38vorS+irjA/JZGZY2hd2vUD5FRlz2eAAAAA==') format('woff2'),
  url('../font/iconfont.woff?t=1554084513885') format('woff'),
  url('../font/iconfont.ttf?t=1554084513885') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1554084513885#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e61b";
}

